<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../img/favicon.ico">

	<title>Components - Magellan</title>

        <link href="../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/highlight.css">
        <link href="../css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="..">Magellan</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
                <li >
                    <a href="..">Home</a>
                </li>
            
            
            
                <li class="active">
                    <a href="./">Components</a>
                </li>
            
            
            
                <li >
                    <a href="../comm/">Communication</a>
                </li>
            
            
            
                <li >
                    <a href="../arch/">Architecture</a>
                </li>
            
            
            
                <li >
                    <a href="../test/">Testing</a>
                </li>
            
            
            
                <li >
                    <a href="../demo/">Demo</a>
                </li>
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <a rel="next" href="..">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../comm/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#components">Components</a></li>
        
            <li><a href="#web-ui-circumnavigator">Web UI (Circumnavigator)</a></li>
        
            <li><a href="#scheduler-rest-api-faleiro-api">Scheduler REST API (Faleiro API)</a></li>
        
            <li><a href="#scheduler-backend-faleiro">Scheduler Backend (Faleiro)</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h1 id="components">Components</h1>
<p>A detailed description of all the components that makes up the Magellan Mesos Framework.</p>
<h2 id="web-ui-circumnavigator">Web UI (Circumnavigator)</h2>
<p>The Web User Interface (UI) allows users to create, manage, and monitor jobs. It is built using jQuery, Bootstrap and pure.js. To connect to the scheduler API, AJAX calls are made to create, modify and retrieve jobs. Bootstrap was used for quick styling and ensuring consistent functionality and appearence across different devices and browsers. pure.js allowed for templating HTML code with scheduler API data.</p>
<p>There are 3 pages to the web UI: Job List (home page), Create a Job, and Job Details. Each page has its own JavaScript file in the js folder, as well as a global script file: script.js, which holds global functions and data. The job list and job details pages auto-refresh periodically to keep the user updated with accurate information. The create a job page validates the user's input, providing feedback on incorrect fields, and redirects the user to the job details page for the job they create.</p>
<p>State-based colour feedback is used throughout the UI. Based on the status of the job, different elements will have different colours or be hidden. The progress bar's appearance differs based on state in colour, animation, and style. When the job is in a state that could allow for completion (RUNNING or PAUSED), the progress bar is animated with moving stripes. When the job is in a state where it is incomplete and will not be able to be completed (STOP or FAILED), the progress bar is no longer animated but is still striped. Once the job is DONE, the progress bar is a solid green. The progress bars have a minimum width to correctly display the progress percentage when the values are low. The action buttons on the job details page are dynamic to the state as well. Their colours correspond to the actions they perform and will be hidden if their action is not valid for the current state.</p>
<p>The job list is ordered from newest to oldest descending with all stored jobs being displayed. The status and progress bars are styled as described above.</p>
<h2 id="scheduler-rest-api-faleiro-api">Scheduler REST API (Faleiro API)</h2>
<h3 id="creating-a-job">Creating a Job</h3>
<p>The Web API receives input as documented on the Web API Schema page. It then validates user input as necessary and forwards the input to an instance of the scheduler framework. To create a job, the API forwards the parameters to the <code>MagellanFramework::createJob()</code> method which then returns the created job's ID and returns it to the user making the API request.</p>
<h3 id="getting-job-status">Getting Job Status</h3>
<p>When the user requests data about the running jobs, the web API calls the <code>MagellanFramework::getJobStatus()</code> and <code>MagellanFramework::getAllJobStatuses()</code> methods for a specific job and for all jobs, respectively. The method calls provide all the info about a job which is then returned to the user.</p>
<h3 id="manage-a-job">Manage a Job</h3>
<p>The Web API is able to pause, resume, and stop a job. The user makes a request and specificies which action they would like to take. The Web API then makes the appropriate method call to the scheduler framework: <code>MagellanFramework::pauseJob()</code>, <code>MagellanFramework::resumeJob()</code>, and <code>MagellanFramework::stopJob()</code>.</p>
<h2 id="scheduler-backend-faleiro">Scheduler Backend (Faleiro)</h2>
<p>Faleiro is the code name for our scheduler. Our scheduler is controlled from our web api and is responsible for accepting resource offers from the Mesos master, collecting tasks to be scheduled from active jobs, and choosing and running a subset of these jobs on availble resource offers. </p>
<h3 id="using-resource-offers">Using Resource Offers</h3>
<p>Mesos master sends resource offers to the scheduler by calling <code>MagellanFramework::resourceOffers()</code> which stores the resource offers in a <code>BlockingQueue</code> which is accessed by Fenzo later.  </p>
<h3 id="picking-parameters-for-new-tasks">Picking Parameters for New Tasks</h3>
<p>The scheduler tells each executor the starting parameters for its simulated annealing algorithm. These parameters are formatted as a json string and include information such as the starting location to start the search, data passed in by the client using the command line client, and the name of the specific task we want to import on the executor side (see documentation on executor). The full json list is shown in the Job to Executor document. , and the length of time that we want the executor to run for. The  Initial temperature, cooling rate and number of iterations per change in temperature are all chosen on the executor side.</p>
<h3 id="fenzo">Fenzo</h3>
<p>Fenzo is a library provided by Netflix that manages the scheduling and resource managment of tasks we want to execute. On each run of the MagellanFramework main loop, the framework invokes Fenzo by calling <code>TaskScheduler::scheduleOnce()</code> and providing it with a list of resource offers and tasks. The resource offers are taken from the queue where they were placed by <code>MagellanFramework::resourceOffers()</code>. The list of tasks to run is attained by calling <code>MagellanJob::getPendingTasks()</code>. If resource offers are not used by fenzo, it keeps hold of them and are used on the next call to <code>TaskScheduler::scheduleOnce()</code>.</p>
<h3 id="framework-main-loop">Framework Main Loop</h3>
<p>The main loop of the MagellanFramework is run in a separate thread which calls the function <code>MagellanFramework::runFramework()</code>. This function first loops through the list of running jobs in the system and calls <code>MagellanJob::getPendingTasks()</code> on each job to get a list of tasks it wants to schedule. It then gives this list to Fenzo by calling <code>TaskScheduler::scheduleOnce()</code> and receives a mapping between resource offers and tasks. If some of the tasks are not selected to be scheduled by Fenzo, then the remaining tasks are retained by the Framework and are submitted to Fenzo again during the next iteration. </p>
<p>After receiving the scheduling suggestions by Fenzo,the the framework then prepares each task by creating a <code>TaskInfo</code> object which contains information such as the slave ID and task data. Tasks are scheduled on a per Host (node) basis. Hosts are specified using the <code>VMAssignmentResult</code> object and can offer multiple resource offers (called <code>leases</code> in the code). A list of all TaskInfo object for each host is created in an object called <code>taskInfos</code>. Additionally, a list of all the resource offer ids that will be used on the particular host are created and stored in a list called <code>offerIDs</code>. Once the <code>taskInfos</code> and <code>offerIDs</code> objects are populated, they are submitted to the mesos driver using the method, <code>MesosSchedulerDriver::launchTasks()</code>. The mesos driver is responsible for getting the tasks to their corresponding executor.</p></div>
        </div>

        <script src="../js/jquery-1.10.2.min.js"></script>
        <script src="../js/bootstrap-3.0.3.min.js"></script>
        <script src="../js/highlight.pack.js"></script>
        <script src="../js/base.js"></script>
    </body>
</html>